html {
    background-color: #ffffff;
}

body {
    width: 700px;
    color: #333;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 100px;
    font-family: Ubuntu, sans-serif;
}

p {
font-size: 24px;
line-height: 1.5;
}

h1 {
    font-size: 72px;
    }
    
h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
   text-decoration: none;
background: #48D1CC;
padding: 3px 6px;
color: #000;
}


.icons {
    margin: 0 -5px;
    padding: 1.5em 0;
}

.icons:after {
    content: "";
    display: table;
    clear: both;
}

.icons li {
    float: left;
    display: inline-block;
}

.icons li a {
    display: inline-block;
    height: 64px;
    width: 64px;
    background-size: 64px 64px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
    text-indent: -9999em
}

.ic-twitter {
    background-color: #48D1CC;
    background-image: url(/icons/twitter-64.png);
}

.ic-facebook {
    background-color: #48D1CC;
    background-image: url(/icons//facebook-64.png);
}

.ic-github {
    background-color: #48D1CC;
    background-image: url(/icons/github-64.png);
}

.ic-tumblr {
    background-color: #48D1CC;
    background-image: url(/icons/tumblr-64.png);
}

.ic-googleplus {
    background-color: #48D1CC;
    background-image: url(/icons/googleplus-64.png);
}


.ic-medium {
    background-color: #48D1CC;
    background-image: url(/icons/medium-64_trans.png);
}

.ic-codecademy {
    background-color: #48D1CC;
    background-image: url(/icons/codecademy-64.png);
}


.ic-instagram {
    background-color: #48D1CC;
    background-image: url(/icons/instagram-64.png);
}

.portfolio {
    background-color: #48D1CC;
    background-image: url(/Portfolio.png);
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}
    }
